<!DOCTYPE html>
<html lang="fr">

<head>
    <%include ./head %>
</head>

<body class="container">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Gestionnaire de Projets</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">


                <form class="form-inline my-2 my-lg-0">
                    <!--<div class="input-group input-group-sm">
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                            placeholder="Rechercher...">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-secondary btn-number">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>-->

                    <a class="btn btn-success btn-sm ml-3" href="/inscription">
                        <i class="fa fa-pencil"></i> Inscription
                    </a>
                    <a class="btn btn-success btn-sm ml-3" href="/connexion">
                        <i class="fa fa-lock"></i> Connexion
                    </a>
                </form>
            </div>
        </div>
    </nav>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Gestionnaire de projets</h1>
        </div>
    </section>
</body>

</html>